@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
   box-sizing: border-box;
   font-family: 'Open Sans', sans-serif;
}
:root {
   --gradient: linear-gradient(
      to top,
      blue,
      grey
   )
}

html {
      background-image: url(https://img.freepik.com/vetores-gratis/plano-de-fundo-da-area-de-trabalho-moderno-vetor-de-desenho-geometrico-azul_53876-135923.jpg?t=st=1732625051~exp=1732628651~hmac=058059c7d8d2883063eea879f3e6d84b5c4c098fc398fa52e3984743d36df29b&w=1380);
   background-size: 100%;
}

body {
   color: #ffffff;
}

a {
   color: #fff;
   text-decoration: none;
}

a:hover {
   text-decoration: underline;
}

main {
   margin: 1rem;
   padding: 1rem;
   border: 1px solid white;
   border-image: var(--gradient)1;
   border-radius: 1rem;
}

main::after {
   top: auto;
   left: auto;
   bottom: 0;
   right: 0;
   transform: rotate(180deg);
}

@media only screen and (min-width: 768px) {

   main {
      max-width: 1024px;
      margin: 1rem auto;
   }

   main::before,
   main::after {
      width: 70vw;
   }

}